:root {
	--background-color: #bfc3c3;
	--line-border-fill: #3490db;
	--line-border-empty: #e0e0e0;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background-color: var(--background-color);
}

.container {
	text-align: center;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	width: 900px;
	max-width: 900px;
	margin-bottom: 30px;
	position: relative;
}

.progress-container::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	background-color: var(--line-border-empty);
	z-index: -1;
	transition: 0.4s ease;
}

.progress {
	position: absolute;
	top: 50%;
	left: 0;
	width: 0%;
	height: 4px;
	transform: translateY(-50%);
	z-index: -1;
	background-color: var(--line-border-fill);
	transition: 0.4s ease;
}

.circle {
	background-color: var(--line-border-empty);
	width: 40px;
	height: 40px;
	border: 50%;
	border: 3px solid var(--line-border-empty);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
