:root {
	--background-color: #bfc3c3;
	--line-border-fill: #3490db;
	--line-border-empty: #e0e0e0;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--background-color);
	margin: 0;
	overflow: hidden;
}

.container {
	text-align: center;
}

.progress-container {
	display: flex;
	width: 900px;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
}

.progress-container::before {
	content: '';
	background-color: var(--line-border-empty);
	height: 4px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	transform: 0.4s ease;
	z-index: -1;
}

.progress {
	background-color: var(--line-border-fill);
	position: absolute;
	top: 50%;
	left: 0;
	height: 4px;
	width: 0%;
	transform: translateY(-50%);
	left: 0;
	z-index: -1;
	transition: 0.4s ease;
}

.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--line-border-empty);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid var(--line-border-empty);
	transition: 0.4s ease;
}

.circle.active {
	border-color: var(--line-border-fill);
}

.button-container {
	display: flex;
	justify-content: space-evenly;
	width: 150px;
	margin: 0 auto;
}

.btn {
	background-color: var(--line-border-fill);
	padding: 5px 15px;
	color: white;
	border-radius: 5px;
	border: none;
}

.bt:active {
}
