:root {
	--background-color: #bfc3c3;
	--line-border-fill: #3490db;
	--line-border-empty: #e0e0e0;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background-color: var(--background-color);
}

.container {
	text-align: center;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	width: 700px;
	max-width: 800px;
	position: relative;
}

.progress-container::before {
	content: '';
	background-color: var(--line-border-empty);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	z-index: -1;
	transition: 0.4s ease;
}

.progress {
	background-color: var(--line-border-fill);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: -1;
	width: 0%;
	height: 4px;
	transition: 0.4s ease;
}
